@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
// font-connect example: font-family: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
// font-connect example: font-family: 'Lato', sans-serif;

@font-face {
	font-family: 'Conv_JennaSue';
	src: url('JennaSue/JennaSue.eot');
	src: local('☺'), url('JennaSue/JennaSue.woff') format('woff'), url('JennaSue/JennaSue.ttf') format('truetype'), url('JennaSue/JennaSue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
