
.container-small {
  max-width: 1030px;
  margin: auto;
  padding: 0 15px;
}

.background {
  background-size: cover;
}

body {
  font-family: 'Lato', sans-serif;
  color: $color_white;
}

html {
  scroll-behavior: smooth;
}