.contact-author {
  height: 820px;

  .contact-author-title {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 90px 0 0 0;
  }

  .contact-author-subtitle {
    font-size: 16px;
    color: $color_red;
    padding: 20px 0 0 0;
  }

  .contact-block {
    padding: 45px 0 0 0;
  }
}