.photo-gallery {
  min-height: 810px;
  background-color: $color_red;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;


  .gallery-title {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 100px 0;
  }

  .gallery-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -11px 0 0 0;
    max-width: 1600px;
  }

  .image-item {
    flex-basis: 280px;
  }
}