.price-list {
  min-height: 1110px;
  text-align: center;

  .price-list-title {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 72px 0 0 0;
  }

  .price-list-subtitle {
    font-size: 18px;
    font-style: italic;
    color: $color_red;
    padding: 10px 0 20px 0;
  }

  .price-list-subtext {
    font-size: 14px;
    padding: 0 0 50px 0;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
    }

    @media screen and (max-width: 660px) {
      font-size: 18px;
    }

    p {
      padding: 0 0 7px 0;
    }
  }

  .price-list-table-title {
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid $color_white;
    width: 325px;
    margin: 0 auto;
    padding: 0 0 5px 0;
  } 

  .price-list-table-head {
    display: flex;
    justify-content: flex-end;
    padding: 35px 0 10px 0;

    .table-head-text span {
      background-color: $color_red;
      padding: 12px 25px;
    }
  }

  .table-line {
    display: flex;
  }

  .table-section {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0 55px;
  }

  .price-list-table {
    flex-direction: column;

    .line-first {
      padding: 24px 0 0 0;
    }

    .length {
      font-size: 16px;
      font-weight: 700;
      color: $color_red;
    }
  }

  .price-list-after-table-text {
    padding: 50px 0 0 0;

    p {
      font-size: 14px;
      padding: 0 0 5px 0;

      @media screen and (max-width: 1024px) {
        font-size: 18px;
      }
    }
  }

  .price-list-after-table-text p {
    padding: 15px 0;
    line-height: 24px;
  }
}